table{
    margin-top: 50px;
    text-align: center;
    background-color: #333;
    color: aquamarine;
}
#show th,#show td{
    padding: 13px
}
#btn td input{
    width: 100%;
}
body{
background-color: palevioletred;
}